In [3]:
import os
import load_data
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
bj_aq_stations = pd.read_csv('data/beijing_aq_stations.csv')
bj_grid_stations = pd.read_csv('data/beijing_grid_stations.csv', names = ["station_id", "latitude", "longitude"])
ld_aq_stations = pd.read_csv('data/london_aq_stations.csv')
ld_grid_stations = pd.read_csv('data/london_grid_stations.csv', names = ["station_id", "latitude", "longitude"])
bj_aq_stations

           station_id  longitude  latitude  urban  suburban  near_traffic
0     aotizhongxin_aq    116.397    39.982      1         0             0
1         badaling_aq    115.988    40.365      0         0             0
2       beibuxinqu_aq    116.174    40.090      1         0             0
3           daxing_aq    116.404    39.718      0         1             0
4         dingling_aq    116.220    40.292      0         0             0
5       donggaocun_aq    117.120    40.100      0         0             0
6           dongsi_aq    116.417    39.929      1         0             0
7       dongsihuan_aq    116.483    39.939      0         0             1
8         fangshan_aq    116.136    39.742      0         1             0
9   fengtaihuayuan_aq    116.279    39.863      1         0             0
10        guanyuan_aq    116.339    39.929      1         0             0
11         gucheng_aq    116.184    39.914      1         0             0
12         huairou_aq    116.628    40.328      0         1             0
13         liulihe_aq    116.000    39.580      0         0             0
14       mentougou_aq    116.106    39.937      0         1             0
15           miyun_aq    116.832    40.370      0         1             0
16     miyunshuiku_aq    116.911    40.499      0         0             0
17      nansanhuan_aq    116.368    39.856      0         0             1
18    nongzhanguan_aq    116.461    39.937      1         0             0
19       pingchang_aq    116.230    40.217      0         1             0
20          pinggu_aq    117.100    40.143      0         1             0
21         qianmen_aq    116.395    39.899      0         0             1
22          shunyi_aq    116.655    40.127      0         1             0
23         tiantan_aq    116.407    39.886      1         0             0
24        tongzhou_aq    116.663    39.886      0         1             0
25          wanliu_aq    116.287    39.987      1         0             0
26   wanshouxigong_aq    116.352    39.878      1         0             0
27     xizhimenbei_aq    116.349    39.954      0         0             1
28          yanqin_aq    115.972    40.453      0         1             0
29        yizhuang_aq    116.506    39.795      0         1             0
30  yongdingmennei_aq    116.394    39.876      0         0             1
31      yongledian_aq    116.783    39.712      0         0             0
32            yufa_aq    116.300    39.520      0         0             0
33         yungang_aq    116.146    39.824      1         0             0
34       zhiwuyuan_aq    116.207    40.002      1         0             0

In [4]:
allDf = load_data.getPandasDataframes()
df_dict={}
for key, value in allDf.items():
    df_dict[str(key[0]+"_"+key[1])] = value

https://biendata.com/competition/airquality/bj/2017-01-01-0/2018-05-31-23/2k0d1d8
data/Beijing/air/bj_airquality_2017-01-01-0_2018-05-31-23.csv

https://biendata.com/competition/meteorology/bj/2017-01-01-0/2018-05-31-23/2k0d1d8
data/Beijing/met/bj_meteorology_2017-01-01-0_2018-05-31-23.csv

https://biendata.com/competition/meteorology/bj_grid/2017-01-01-0/2018-05-31-23/2k0d1d8
data/Beijing/grid/bj_grid_2017-01-01-0_2018-05-31-23.csv

https://biendata.com/competition/airquality/ld/2017-01-01-0/2018-05-31-23/2k0d1d8
data/London/air/ld_airquality_2017-01-01-0_2018-05-31-23.csv

https://biendata.com/competition/meteorology/ld/2017-01-01-0/2018-05-31-23/2k0d1d8
data/London/met/ld_meteorology_2017-01-01-0_2018-05-31-23.csv

https://biendata.com/competition/meteorology/ld_grid/2017-01-01-0/2018-05-31-23/2k0d1d8
data/London/grid/ld_grid_2017-01-01-0_2018-05-31-23.csv

In [ ]:
# bj_air = allDf[('Beijing', 'air')]
# bj_met = allDf[('Beijing', 'met')]
# bj_grid = allDf[('Beijing', 'grid')]
# ld_air = allDf[('London', 'air')]
# ld_grid = allDf[('London', 'grid')]

In [5]:
for i in df_dict:
    df_dict[i]['hour'] = [datetime.strptime(df_dict[i]['time'].iloc[index], '%Y-%m-%d %H:%M:%S').hour for index in df_dict[i].index]
    df_dict[i]['date'] = [datetime.strptime(df_dict[i]['time'].iloc[index], '%Y-%m-%d %H:%M:%S').date() for index in df_dict[i].index]
    df_dict[i]['weekday'] = [df_dict[i]['date'].iloc[index].weekday() for index in df_dict[i].index]
# bj_met['hour'] = [datetime.strptime(bj_met['time'].iloc[i], '%Y-%m-%d %H:%M:%S').hour for i in bj_met.index]
# bj_air['hour'] = [datetime.strptime(bj_air['time'].iloc[i], '%Y-%m-%d %H:%M:%S').hour for i in bj_air.index]
# bj_grid['hour'] = [datetime.strptime(bj_grid['time'].iloc[i], '%Y-%m-%d %H:%M:%S').hour for i in bj_grid.index]
# ld_air['hour'] = [datetime.strptime(ld_air['time'].iloc[i], '%Y-%m-%d %H:%M:%S').hour for i in ld_air.index]
# ld_grid['hour'] = [datetime.strptime(ld_grid['time'].iloc[i], '%Y-%m-%d %H:%M:%S').hour for i in ld_grid.index]

In [21]:
for key, value in df_dict.items():
    print(key)
    print(df_dict[key].dtypes)
    print("\n")

Beijing_air
id                      int64
station_id             object
time                   object
PM25_Concentration    float64
PM10_Concentration    float64
NO2_Concentration     float64
CO_Concentration      float64
O3_Concentration      float64
SO2_Concentration     float64
hour                    int64
date                   object
weekday                 int64
dtype: object


Beijing_met
id                  int64
station_id         object
time               object
weather            object
temperature       float64
pressure          float64
humidity          float64
wind_speed        float64
wind_direction    float64
hour                int64
date               object
weekday             int64
dtype: object


Beijing_grid
id                  int64
station_id         object
time               object
weather            object
temperature       float64
pressure          float64
humidity          float64
wind_direction    float64
wind_speed        float64
hour                int64
date               object
weekday             int64
dtype: object


London_air
id                      int64
station_id             object
time                   object
PM25_Concentration    float64
PM10_Concentration    float64
NO2_Concentration     float64
CO_Concentration      float64
O3_Concentration      float64
SO2_Concentration     float64
hour                    int64
date                   object
weekday                 int64
dtype: object


London_met
None        object
hour       float64
date       float64
weekday    float64
dtype: object


London_grid
id                  int64
station_id         object
time               object
weather            object
temperature       float64
pressure          float64
humidity          float64
wind_direction    float64
wind_speed        float64
hour                int64
date               object
weekday             int64
dtype: object

In [91]:
bj_grid = pd.merge(df_dict['Beijing_grid'],bj_grid_stations, how='left', on=['station_id'])
bj_air = pd.merge(df_dict['Beijing_air'], bj_aq_stations, how='left', on="station_id")

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration,hour,date,weekday,longitude,latitude,urban,suburban,near_traffic
0,2941450,dongsi_aq,2018-03-31 07:00:00,105.0,172.0,53.0,0.8,127.0,14.0,7,2018-03-31,5,116.417,39.929,1,0,0
1,2941451,tiantan_aq,2018-03-31 07:00:00,95.0,123.0,54.0,0.9,121.0,15.0,7,2018-03-31,5,116.407,39.886,1,0,0
2,2941452,guanyuan_aq,2018-03-31 07:00:00,95.0,139.0,66.0,0.8,123.0,13.0,7,2018-03-31,5,116.339,39.929,1,0,0
3,2941453,wanshouxigong_aq,2018-03-31 07:00:00,99.0,172.0,58.0,1.0,119.0,14.0,7,2018-03-31,5,116.352,39.878,1,0,0
4,2941454,aotizhongxin_aq,2018-03-31 07:00:00,117.0,166.0,67.0,0.8,111.0,14.0,7,2018-03-31,5,116.397,39.982,1,0,0

In [ ]:
bj_gri